head
    include include/head.pug
    title Edit User
body
    div(class="container")
        div(class="box center")
            h1(class="box-header text-center")
                | Edit #{user.username}
            div(class="box-content")
                form(action="/admin/users/"+user.id+"/edit" method="post")
                    div(class="stacked-list")
                        span(class="form-input")
                            label(for="username") Username:
                            input(type="text", name="username", value=user.username)
                        span(class="form-input")
                            label(for="email") Email:
                            if user.email === null
                                input(type="text", name="email", placeholder="Leave blank to leave unchanged")
                            else
                                input(type="text", name="email", value=user.email)
                        span(class="form-input")
                            label(for="password") Password:
                            input(type="password", name="password", placeholder="Leave blank to leave unchanged")
                        span(class="form-input")
                            label(for="group") Group:
                            select(name="group")
                                if user.perms === 0
                                    option(value=0 selected) 0 - User
                                else 
                                    option(value=0) 0 - User
                                if user.perms === 1
                                    option(value=1 selected) 1 - Moderator
                                else 
                                    option(value=1) 1 - Moderator
                                if user.perms === 2
                                    option(value=2 selected) 2 - Administrator
                                else 
                                    option(value=2) 2 - Administrator
                    button(type="submit") Edit User
            if error
                div(class="error mt-1 text-center") #{error}
        div(class="box center")
            h1(class="box-header text-center")
                | Actions
            div(class="box-content")
                p(class="text-center") Are you sure you want to delete this user? This action cannot be undone.
                form(action="/admin/users/"+user.id+"/delete" method="post")
                    div(class="stacked-list")
                        span(class="form-input")
                            label(for="confirm") Confirm deletion:
                            input(type="checkbox", name="confirm", id="confirm")
                    button(type="submit") Delete User