head
    include include/head.pug
    title Admin Panel
body
    div(class="container")
        div(class="box center")
            h1(class="box-header text-center")
                | Create Forum
            div(class="box-content")
                form(action="/admin/forums/new", method="post")
                    div(class="stacked-list")
                        span(class="form-input")
                            label(for="name") Name:
                            input(type="text", name="name", id="name" autocomplete="off") 
                        span(class="form-input") 
                            label(for="description") Description:
                            input(type="text", name="description", id="description" autocomplete="off")
                        span(class="form-input")
                            label(for="identifier") Identifier:
                            input(type="text", name="identifier", id="identifier" autocomplete="off")
                    button(type="submit") Create
            if error
                div(class="error mt-1 text-center") #{error}
        div(class="box center")
            h1(class="box-header text-center")
                | Manage Forums
            div(class="box-content stacked-list")
                    each forum in forums
                        div(class="flex") 
                            a(href="/forums/"+forum.id) #{forum.name} - [#{forum.text_identifier}]
                            span(class="ml-a")
                                a(href="/admin/forums/"+forum.id) Edit
                    if forums.length == 0
                        p(class="text-center") No forums found.