doctype html 
html 
    head 
        include include/head.pug
        title Log in 
    body 
        div(class="container")
            div(class="box center")
                h1(class="box-header text-center")
                    | Log in
                div(class="box-content")
                    if loggedIn == false
                        form(action="/login", method="post")
                            div(class="auth-form")
                                span(class="form-input")
                                    label(for="username") Username:
                                    input(type="text", name="username", placeholder="Username")
                                span(class="form-input")
                                    label(for="password") Password:
                                    input(type="password", name="password", placeholder="Password")
                                button(type="submit", value="Register") Log in
                    else
                        p You are already logged in.
                    div(class="error mt-1 text-center") #{error}