hr {
  height: 1px;
  background-color: black;
  border: none;
  width: 100%;
}
a:visited {
  color: #0000EE;
}
.container {
    padding: 10px;
}
.box {
  border: 1px solid black;
  padding: 5px;
  max-width: 50%;
  width: fit-content;
  margin-bottom: 1em;
  margin-top: 1em;
}
.box-header {
  margin-top: 0px;
}
.form-input {
  margin-bottom: 5px;
}
.stacked-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.post-textarea {
  width: 100%;
  height: 100px;
  max-width: 100%;
}
.post-image {
  max-width: 50%;
}